@media (max-width:979px){
	li>a{
		padding: 0.375em !important;
		background-color: rgba(0,0,0,0.125);
		border-radius: 25% / 50%;
		margin: 0.375em;
	}
	li>a:hover{
		background-color: rgba(0,0,0,0.1875) !important;
	}
}
footer#footer .colophon {
display:none;
}
